.single_job_listing .job_description {
    margin-bottom: 0;
}

.budi-job-hero__section{
    min-height: 420px;
}

.budi-job-hero__section::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(230, 237, 246, 0.9) -38%, rgba(0, 65, 137, 0.9) 100%);
    z-index: 1;
    position: absolute;
    display: block !important;
}

.budi-job-hero__section > .vc_row{
    position: relative;
    z-index: 2;
}

/* Responbilities lists */
.budi-responbilities__lists {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.budi-responbilities__lists .budi-icon-lists__item-inner{
    gap: 16px;
}

.budi-your-qualifications::before{
    content: '';
    width: 100vw;
    height: 100%;
    left: 0;
    position: absolute;
    background-color: rgba(3, 52, 107, 0.9);
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .budi-job-hero__section{
        padding-top: 120px !important;
    }

    .budi-your-qualifications::before{
        right: 20px;
        left: auto;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}