@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BlackItalic.eot');
    src: url('Barlow-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-BlackItalic.woff2') format('woff2'),
        url('Barlow-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Black.eot');
    src: url('Barlow-Black.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Black.woff2') format('woff2'),
        url('Barlow-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBoldItalic.eot');
    src: url('Barlow-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-ExtraBoldItalic.woff2') format('woff2'),
        url('Barlow-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBold.eot');
    src: url('Barlow-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Barlow-ExtraBold.woff2') format('woff2'),
        url('Barlow-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Bold.eot');
    src: url('Barlow-Bold.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Bold.woff2') format('woff2'),
        url('Barlow-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BoldItalic.eot');
    src: url('Barlow-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-BoldItalic.woff2') format('woff2'),
        url('Barlow-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Italic.eot');
    src: url('Barlow-Italic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Italic.woff2') format('woff2'),
        url('Barlow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBold.eot');
    src: url('Barlow-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Barlow-SemiBold.woff2') format('woff2'),
        url('Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-LightItalic.eot');
    src: url('Barlow-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-LightItalic.woff2') format('woff2'),
        url('Barlow-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Light.eot');
    src: url('Barlow-Light.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Light.woff2') format('woff2'),
        url('Barlow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-MediumItalic.eot');
    src: url('Barlow-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-MediumItalic.woff2') format('woff2'),
        url('Barlow-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBoldItalic.eot');
    src: url('Barlow-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-SemiBoldItalic.woff2') format('woff2'),
        url('Barlow-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.eot');
    src: url('Barlow-Regular.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Regular.woff2') format('woff2'),
        url('Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Medium.eot');
    src: url('Barlow-Medium.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Medium.woff2') format('woff2'),
        url('Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ThinItalic.eot');
    src: url('Barlow-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-ThinItalic.woff2') format('woff2'),
        url('Barlow-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Thin.eot');
    src: url('Barlow-Thin.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Thin.woff2') format('woff2'),
        url('Barlow-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

